/* ..............Styling of the body................. */
body {
    margin: 0;
    font-size: 1.25em;
    text-align: center;
    line-height: 1.5;


}


/* .....The main container style....... */
#main {
    background: linear-gradient(180deg, rgb(248, 15, 15), white);
    margin: 1.25em 0.625em;
    padding: 0.625em;
    border: 1px solid rgb(190, 182, 182);
    border-radius: 0.625em;

}

h1 {
    color: whitesmoke;
    text-shadow: 6px 8px rgb(82, 71, 71);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;   
}

h4 {
    font-size: 23px;
}

hr {
    border: 1px dotted rgba(245, 221, 221, 0.747);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
}


/* .........Styling of the Image container......... */
#img-div {
    background: linear-gradient(-30deg, rgba(192, 94, 94, 0.562), rgba(213, 238, 235, 0.747));
    margin: 1.875em 0.9375em;
    padding: 0.9375em;
    border-top-left-radius: 5.3125em;
    border-bottom-right-radius: 0.0625em;
    border-top-right-radius: 0.625em;
    border-bottom-left-radius: 0.625em;

}


/* ..............The Image style.................. */

img {
    margin-right: 2.5em;
    width: 25em;
    height: 25em;
    border: 1px solid gray;
    border-radius: 0.4375;
    box-shadow: 0.3125em 0.3125em rgba(128, 128, 128, 0.63);
}


/* .......The hover of the image....... */
img:hover {
    margin-bottom: 0.625em;
    transform: scale(1.1);
    transition: 2s;
    border-top-left-radius: 2.8125em;
    border-top-right-radius: 2.8125em;
    
}

/* ............The Image caption........... */
#img-caption {
    padding-top:  0.625em ;
    font-family: italic;
    font-size:  1.25em;
}





/* ...........Styling of Tribute Imformation......... */
#tribute-info {
   font-size: 25px;
    margin-top:  10px;
    padding:  10px;
    background-color: rgba(245, 245, 245, 0.596);
    opacity: 0.7;
    text-align: center;
}

ul {
        width: 40%;
        margin: auto;
        text-align: left;

}

li {
    line-height: 1.5em;
    text-align: left;

}



/* ............Styling of the page footer........ */

footer {
    margin-top: 1.25em;
    padding: 1.25em;
    padding-bottom: 0.1875em;
    bottom: 2.5em;
    border-radius: 0.3125em;
    background: linear-gradient(90deg, red, rgb(185, 25, 25));  
}



/* ............Hpver on the page footer........... */
footer:hover {
    transform: scale(-0.5);
    transition: 4s;
}

footer > h4 > a {
    text-decoration: none;
}
