/* ..............Styling of the body................. */
* {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.4;


}


/* .....The main container style....... */
#main {
    background: #EEEFEF;
    margin: 2rem 1rem;
    padding: 0.6rem;
    border: 0px;
    border-radius: 0.325rem;

}

h1 {
    font-size: vw;   
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 1.25rem;
}


/* .........Styling of the Image container......... */
#img-div {
    background: white;
    padding: 0.9375rem;
    /* margin: 0px; */


}


/* ..............The Image style.................. */

img {
    width: 56.25rem;
    /* display: block; */
    max-width: 80%;
    height: auto;
}


/* ............The Image caption........... */
#img-caption {
    padding-top:  0.625rem ;
    font-family: italic;
    font-size:  1.25rem;
}


/* ...........Styling of Tribute Imformation......... */
#tribute-info {
   font-size: 1.2rem;
    padding:  10px;
    background-color: rgba(245, 245, 245, 0.596);
    text-align: center;
}

ul {
        width: 35rem;
        margin: auto;
        padding: 1rem;
}

li {
    margin-top: 30px;
    text-align: left;
    width: 31.25rem;
}



/* ............Styling of the page footer........ */

footer {
    margin-top: 1.25rem;
    padding: 1.25rem;
    padding-bottom: 0.1875rem;
}



/* ............Hpver on the page footer........... */
footer > h4 > a {
    text-decoration: none;
}
